html{
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #22222E;
}

hr{
  color: #DFDFDF;
}

/* Navbar */
.Navbar{
  position: fixed;
  left: 0;
  top: 0;
  background-color: #2C2E3A;
  height: 100%
}

.Navbar__list{
  display: grid;
  grid-template-rows: repeat(auto);
  gap: 20px;
  justify-items: center;
  align-items: center;
  align-content: center;
  padding: 40px;
  height: 100%
}

.Navbar__img{
  width: 160px;
  height: 160px;
  justify-self: center;
  align-self: start;
  border-radius: 100px;
}

.Navbar__itemlist{
  list-style: none;
}

.Navbar__item{
  margin: 0;
  text-decoration: none;
  color: #3A53FE;
  font-weight: bold;
}

.Navbar__item:hover{
  color: #00062E;
}

/* Informacion */

.Info-container{
  margin-top: 150px;
  margin-left: 250px;
  max-width: 1000px;
  padding: 50px;
  display: grid;
  grid-template-rows: repeat(auto);
  gap: 200px;
}

.Info-section{
  padding: 30px;
  color: #DFDFDF;
  display: grid;
  grid-template-rows: repeat(auto);
  gap: 20px;
}

.Info-section-title{
  color: #0068C4;
  font-weight: 400;
}

    /* Presentacion */

.Presentacion-title{
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: start;
  gap: 5px;
}

.Presentacion-p1{
  font-size: 70px;
  color: #023E73;
}

.Presentacion-p2{
  font-size: 70px;
  color: #DFDFDF;
}

.Botones__contenedor{
  display: grid;
  grid-template-rows: repeat(2, auto);
  justify-content: start;
  gap: 5px;
}

.Boton-cv{
  font-size: 14px;
  background-color: #7CFF21;
  color: black;
  transition-all: 1s;
}

.Boton-cv:hover{
  background-color: #65CD1C;
  color: black;
}

.Skill__list{
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: start;
  gap: 10px;
  margin-bottom: 20px;
}

.Skill{
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 5px;
  justify-content: start;
  align-items: center;
  padding: 5px;
}

.Skill__img{
  width: 20px;
}

.Skill__name{
  font-weight: bold;
  align-self: center;
  margin: 0;
  font-size: 13px;
}

.HTML-bg{
  background-color: #E55638;
}

.Portfolio{
  display: grid;
  grid-template-columns: repeat(3, auto);

}

.Trabajo{
  width: 300px;
  background-color: #31314B;
  border: solid 1px #31314B;
}

.Trabajo__img{
  width: 100%;
}

.Trabajo__text{
  margin: 0;
  padding: 10px;
}

.Trabajo-Skill__list{
  display: grid;
  grid-template-columns: repeat(3,auto);
  justify-content: center;
  gap: 5px;
  margin-bottom: 20px;
}

.Trabajo__link{
  color: #DFDFDF;
  width: 20px;
  padding: 5px;
}

.Trabajo__link:hover{
  color: #C0C0C0;
}

.Link-tamaño{
  font-size: 40px;
}

.Contacto{
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: start;
  gap: 5px;
}

.Link{
  color: #7CFF21;
}