html{
  font-family: 'Roboto', sans-serif;
}

.background{
  background-color: #22222E;
}

.card-bg{
  background-color: #DCDCDC;
}

hr{
  color: #DFDFDF;
}

.navbar{
  background: #2C2E3A;
  position: fixed;
  width: 100vw;
  z-index: 10;
}

.presentacion{
  height: 100vh;
}

@media (min-width: 768px) {
  .space{
    margin-top: 8rem;
    margin-bottom: 20rem;
  }
}

@media (max-width: 767px) {
  .space{
    margin-top: 5rem;
    margin-bottom: 10rem;
  }
}

.text-bold{
  font-weight: bold;
}

.text-green{
  color: #7CFF21;
}

.text-blue{
  color: #023E73;
}

.bg-green{
  background-color: #7CFF21;
}

.index{
  z-index: 3;
}

.icon-width{
  width: 1.5rem;
}

.img-width{
  width: 18rem;
  height: 10rem;
}

.max-width{
  max-width: 18rem;
  height: 29rem;
}

.git-icon{
  font-size: 2.5rem;
  color: #292929;
}

.git-icon:hover{
  color: #585858;
}

.grid{
  display: grid;
  grid-template-rows: repeat(2, auto);
  justify-content: start;
  gap: 5%;
}

.grid-default{
  display: grid;
  justify-items: center;
  justify-content: center;
  text-align: center;
}

@font-face {
  font-family: 'Silkscreen-r';
  src: url('../public/assets/fonts/Silkscreen-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Silkscreen-b';
  src: url('../public/assets/fonts/Silkscreen-Bold.ttf') format('truetype');
}

.font-game{
  font-family: 'Silkscreen-r', sans-serif;
}

.font-game_bold{
  font-family: 'Silkscreen-b', sans-serif;
}
