html{
  font-family: 'Roboto', sans-serif;
}

.background{
  background-color: #22222E;
}

hr{
  color: #DFDFDF;
}

@media (min-width: 768px) {
  .navbar{
    position: fixed;
    background: #2C2E3A;
    height: 100vh;
  }
  .space{
    margin-top: 15rem;
    margin-bottom: 25rem;
  }
  .justifier{
    margin-left: 16rem;
  }
}

@media (max-width: 767px) {
  .justifier{
    margin-left: 0rem;
  }
  .space{
    margin-top: 5rem;
    margin-bottom: 17rem;
  }
}

.text-bold{
  font-weight: bold;
}

.text-green{
  color: #7CFF21;
}

.text-blue{
  color: #023E73;
}

.bg-green{
  background-color: #7CFF21;
}

.index{
  z-index: 3;
}

.icon-width{
  width: 1.5rem;
}

.grid{
  display: grid;
  grid-template-rows: repeat(2, auto);
  justify-content: start;
  gap: 5%;
}