html{
  font-family: 'Roboto', sans-serif;
}

.background{
  background-color: #22222E;
}

hr{
  color: #DFDFDF;
}

.Nav{
  height: 100vh;
  width: 5rem;
  position: fixed;
}

.Nav-bar{
  display: flex;
  flex-direction: column;
}

.Navbar__img{
  width: 160px;
  height: 160px;
  justify-self: center;
  align-self: start;
  border-radius: 100px;
}

.text-bold{
  font-weight: bold;
}

.justifier{
  margin-left: 2rem;
}

.index{
  z-index: 3;
}